.aj-message-content {
  display: flex;
  padding: 0.5rem 0rem;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.5rem;
  flex: 1 0 0;
}
.aj-message-content .aj-content-text {
  align-self: stretch;
  color: var(--p-text-color);
  font-size: var(--p-font-size);
  font-style: normal;
  font-weight: 500;
  line-height: 1.5rem;
  letter-spacing: 0.00938rem;
}