.aj-message {
  display: flex;
  padding: 1rem;
  align-items: flex-start;
  gap: 1.5rem;
  border-radius: 1rem;
  border: 1px solid var(--sec-background-color);
  background-color: var(--background-color);
}
.aj-message p, .aj-message h3 {
  margin: 0;
}
.aj-message .avatar-img {
  width: 3rem;
  height: 3rem;
  border-radius: 1.25rem;
  background:lightgray 50% / cover no-repeat;
}